@model List<KitchenPlan.PantryItem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Scramble</title>
</head>
<body>
<h1>List of Data, with Reversed Descriptions</h1>
    <div>
    <table border = 1>
    @foreach (var item in this.Model)
    { 
        <tr>
            <td>@item.PantryItemId</td>
            <td>@item.Description.Reverse().ToString()
            </td>
        </tr>
    }
    </table>
    </div>
</body>
</html>
