@model KitchenPlan.BlogPost
@{
    var postDate = (Model.PostDate == default(DateTime)) ? DateTime.Now : Model.PostDate;
}

    <p>
    We shall add or edit posts here.
    </p>
    <p>Give your post a title, date, and the meat of your post. 

@using (Html.BeginForm())
{ 
    @Html.EditorForModel()
    <input name="Add" type="submit" />
}
    