@model List<KitchenPlan.BlogPost>
@{
    Layout = null;
 }


<!DOCTYPE html>

<html>
<head>
    <title>Blog</title>
</head>
<body>
<h1>Blog Posts</h1>
    <div>
    <table border = 1>
    @foreach (var item in this.Model)
    { 
        
        <tr>
            <td>@item.BlogPostId</td>
            <td>@item.PostTitle</td>
            <td>@item.PostDate</td>
            <td>@item.PostText</td>
        
        </tr>
      
    }
    </table>
    </div>
</body>
</html>