<h2>Bio</h2>
<p>Christopher Jackson has lived in North Texas all his life, and has seen just enough snow to convince him never to move north of it.</p>
<p> He studied history at UT Arlington, and has spent his professional life in helpdesk and customer service roles. </p>
<p>He would have never found the impetus to change careers so radically were it not for the encouraging support of his wife Lynda-Jo, and the perseverance of his long-time friend and mentor Tim Rayburn.</p>
<p>@Html.ActionLink("Click here for my picture", "HeadShot")</p>

