<p>Here's a picture of me from a costume contest in 2006:</p>

<img src="@Url.Content("~/Content/images/headshot_of_jackson.jpg")" width ="175" height ="183" alt="Costume" />
<p>And here's one of me and my lovely wife</p>
<img src="@Url.Content("~/Content/images/140_Me_n_LJ.JPG")" alt="LJ&I" />